html{height:100%;margin:0;padding:0;}
body{height:100%;width: 100%;margin:0;padding:0;}

#main{
	height:100%;
	width:100%;
}

.header{
	height:8%;
	width:100%;
	top:0px;
	/*margin: 0 auto;*/
	/*color:#A9A9A9;*/
	border-bottom: 8% solid #8B008B;
	background-color: #a9a9a9;	
	/*background: url("images/stone-banner.jpg");*/
}

.logo_box{
	height: 100%;
	width:5%;
	text-align: center;
}

.logo_box:before{
	content:' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.logo{
	height:50%;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	
}
/*
#header_pos {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#header_pos{
	margin:0 auto;
	float:left;
	vertical-align: middle;
}
*/
/*
.header a{
	display:block;
	background-image: url("images/StoneLogo.png");
	background-repeat:repeat-x;
	height:8%;
	width:100%;
	color:#8B008B;

}
*/
#maincanvas{
	height:84%;
	width: 100%
}

#map{
	height:100%;
	width:70%;
	position:relative;
	float:left;
}

#infopanel{
	position:relative;
	width: 30%
	height:100%;
	text-align:center;
}

#footer{
	height:8%;
	width: 100%;
	bottom: 0px;
}